<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <div class="box">
            <h1 class="title has-text-centered">Login to MeuPetDigital</h1>
            
            <% if flash[:error] %>
              <div class="notification is-danger">
                <%= flash[:error] %>
              </div>
            <% end %>
            
            <%= form_with url: auth_create_path, method: :post, local: true do |form| %>
              <div class="field">
                <label class="label">Email Address</label>
                <div class="control">
                  <%= form.email_field :email, class: "input", placeholder: "Enter your email address", required: true %>
                </div>
              </div>
              
              <div class="field">
                <div class="control">
                  <%= form.submit "Send Login Link", class: "button is-primary is-fullwidth" %>
                </div>
              </div>
            <% end %>
            
            <div class="has-text-centered mt-4">
              <p class="is-size-7 has-text-grey">
                We'll send you a secure login link via email
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
